body{
    /* Se establece un contenedor flexible para centrar el contenido dentro del cuerpo */
    margin: 0;
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-emphasis: center;
    background-color: #1e272e; /* Fondo oscuro para el cuerpo */



}
.root{
    max-width: 100%;
}