/* Sección 5 */
.seccion5 {
    width: 100%; /* Ocupa el 100% del ancho */
    background-color: #f1f1f1; /* Fondo gris claro */
    padding: 20px 0; /* Espaciado superior e inferior */
}

.articulo-seccion5 {
    width: 70%; /* El artículo ocupa el 70% del ancho */
    margin: 0 auto; /* Centra el artículo */
}

.contenedor-imagenes {
    width: 100%; /* El contenedor de imágenes ocupa el 100% del ancho */
    display: flex;
    justify-content: center;
}

/* Contenedor de las imágenes */
.container {
    display: flex;
    justify-content: center;
    gap: 16px;
    transition: 0.3s;
    width: 100%;
    padding: 0;
    list-style: none;
}

.container li {
    position: relative;
    overflow: hidden;
    flex: 0 0 80px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #ccc; /* Borde sutil alrededor de las imágenes */
}

.container li img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.container li:hover {
    flex: 0 1 260px;
    transform: scale(1.1);
    z-index: 10;
    opacity: 1;
}

.container li .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 15px;
    color: #fff;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 10%, rgba(255, 255, 255, 0) 100%);
    opacity: 0;
    visibility: hidden;
    transition: 1.5s ease;
}

.container li:hover .content {
    opacity: 1;
    visibility: visible;
}

.container h2 {
    font-weight: 100;
    font-size: 20px;
    line-height: 4px;
    margin-bottom: 3px;
    color: #fff;
    white-space: nowrap;
    text-decoration: none;
}

.container h2 a:hover {
    color: #fff;
    text-decoration: none;
}

.container p {
    color: #ddd;
    font-size: 10px;
    width: 100%;
}

.container span {
    text-align: center;
    width: 75%;
}

.container li .content span {
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    scale: 0.85;
    visibility: hidden;
    opacity: 0;
}

.container li:hover span {
    scale: 1;
    opacity: 1;
    visibility: visible;
}
