/* Reseteo general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .section1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAC25F; /* Fondo claro para distinguir la sección */
    padding: 20px 0;
    margin-bottom: 40px; /* Espacio abajo */
   margin-top: 40px;    /* Espacio arriba */
  }
  
  .section1-article {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .section1-content {
    display: flex;
    width: 100%;
    gap: 20px;
  }
  
  /* Imagen - 60% del espacio */
  .section1-image {
    flex: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .section1-image img {
    width: 50%;
    height: auto;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px; /* Opcional: esquinas redondeadas */
  }
  
  /* Texto - 40% del espacio */
  .section1-text {
    flex: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .section1-text h3 {
    /*font-size: 24px;*/
    margin-bottom: 10px;
  }

  .title1{
    color: #696450;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
  }
  .title2{
    color:brown;
    font-family: TAN headline;
    font-size: 35px;
  }
  
  .section1-text p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
  }
  .btn-5,
  .btn-5 *,
  .btn-5 :after,
  .btn-5 :before,
  .btn-5:after,
  .btn-5:before {
    border: 0 solid;
    box-sizing: border-box;
  }
  .btn-5 {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #1c5300;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
      Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 100%;
    font-weight: 900;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#1c5300, #fff);
    padding: 0;
    text-transform: uppercase;
  }
  .btn-5:disabled {
    cursor: default;
  }
  .btn-5:-moz-focusring {
    outline: auto;
  }
  .btn-5 svg {
    display: block;
    vertical-align: middle;
  }
  .btn-5 [hidden] {
    display: none;
  }
  .btn-5 {
    border-radius: 99rem;
    border-width: 2px;
    overflow: hidden;
    padding: 0.8rem 3rem;
    position: relative;
  }
  .btn-5 span {
    mix-blend-mode: difference;
  }
  .btn-5:before {
    --tilt: 1.2rem;
    background: #fff;
    -webkit-clip-path: polygon(
      0 0,
      calc(100% - var(--tilt)) 0,
      100% 50%,
      calc(100% - var(--tilt)) 100%,
      0 100%
    );
    clip-path: polygon(
      0 0,
      calc(100% - var(--tilt)) 0,
      100% 50%,
      calc(100% - var(--tilt)) 100%,
      0 100%
    );
    content: "";
    display: block;
    height: 100%;
    left: calc(-100% - var(--tilt));
    position: absolute;
    top: 0;
    transform: translateX(var(--progress, 0));
    transition: transform 0.2s ease;
    width: calc(100% + var(--tilt));
  }
  .btn-5:hover:before {
    --progress: 100%;
  }
  
  