/* section3.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Contenedor principal */
.section3 {
  width: 100%;
  max-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4; /* Fondo claro */
  padding: 100px 0;
}

/* Artículo de la sección */
.section3-article {
  width: 90%; /* Ancho flexible */
  max-width: 1200px; /* Límite máximo para pantallas grandes */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Grid de tres columnas */
.section3-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas iguales */
  gap: 30px; /* Espaciado entre los elementos */
}

/* Elementos de la sección */
.section3-item {
  text-align: center;
}

/* Círculos de los iconos */
.icon-circle {
  width: 80px;
  height: 80px;
  background-color: #007bff; /* Color de fondo (reserva para cuando no haya imagen) */
  border-radius: 50%;
  margin: 0 auto 15px auto; /* Centrar el círculo y dar margen inferior */
  transition: transform 0.3s ease;
  background-size: cover; /* Asegura que la imagen cubra todo el círculo */
  background-position: center; /* Centra la imagen en el círculo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

/* Efecto hover en los iconos */
.icon-circle:hover {
  transform: scale(1.1); /* Efecto de zoom al pasar el puntero */
}

.icon-circle.icon1 {
  background-image: url('https://www.fao.org/uploads/pics/RISE_icon_web_communityEngagementres_08.png');
}

.icon-circle.icon2 {
  background-image: url('https://cdn-icons-png.flaticon.com/256/3800/3800518.png');
}

.icon-circle.icon3 {
  background-image: url('https://cdn-icons-png.flaticon.com/512/5779/5779651.png');
}

/* Títulos */
.section3-item h3 {
  font-size: 1.5rem; /* Tamaño flexible */
  color: brown;
  margin-bottom: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubunt
}